body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('Free Vector _ 3d earth graphic symbolizing global trade illustration_.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff; /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.7); /* Dark purple semi-transparent overlay */
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 12px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input[type="radio"] {
    width: auto;
    margin: 0 10px 0 0;
}

.form-group input[type="submit"] {
    background-color: #805ad5; /* Purple button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.form-group input[type="submit"]:hover {
    background-color: #6741a3; /* Darker purple on hover */
}
